@{
    Layout = "_Layout";
}

<div class="border-grey border-radius-smooth mt-3 d-flex">
    <ul id="admin-menu" class="list-group list-group-flush">
        <li class="list-group-item no-padding">
            <a class="btn btn-lg no-outline background-light-blue-hover border-no-radius"
               data-name="Dashboard"
               asp-controller="Dashboard" asp-action="Index">
                Dashboard
            </a>
        </li>
        <li class="list-group-item no-padding">
            <a class="btn btn-lg no-outline background-light-blue-hover border-no-radius text-left w-100"
               data-name="Users"
               asp-controller="Users" asp-action="Index">
                Users
            </a>
        </li>
        <li class="list-group-item no-padding">
            <a class="btn btn-lg no-outline background-light-blue-hover border-no-radius text-left w-100"
               data-name="TestDrives"
               asp-area="Admin"
               asp-controller="TestDrives"
               asp-action="Index">
                Test drives
            </a>
        </li>
        <li class="list-group-item no-padding">
            <a class="btn btn-lg no-outline background-light-blue-hover border-no-radius text-left w-100"
               data-name="Cars"
               asp-controller="Cars" asp-action="Index">
                Cars
            </a>
        </li>
        <li class="list-group-item no-padding">
            <a class="btn btn-lg no-outline background-light-blue-hover border-no-radius text-left w-100"
               data-name="CarOptions"
               asp-area="Admin"
               asp-controller="CarOptions"
               asp-action="Index">
                Options
            </a>
        </li>
        <li class="list-group-item no-padding">
            <a class="btn btn-lg no-outline background-light-blue-hover border-no-radius text-left w-100"
               data-name="Engines"
               asp-area="Admin"
               asp-controller="Engines"
               asp-action="Index">
                Engines
            </a>
        </li>
        <li class="list-group-item no-padding">
            <a class="btn btn-lg no-outline background-light-blue-hover border-no-radius text-left w-100"
               data-name="FuelTypes"
               asp-area="Admin"
               asp-controller="FuelTypes"
               asp-action="Index">
                Fule Types
            </a>
        </li>
        <li class="list-group-item no-padding border-radius-smooth-bottom-left">
            <a class="btn btn-lg no-outline background-light-blue-hover border-no-radius text-left w-100"
               data-name="ModelTypes"
               asp-area="Admin"
               asp-controller="ModelTypes"
               asp-action="Index">
                Model Types
            </a>
        </li>
    </ul>
    <div class="w-100 container-light-blue border-radius-smooth-top-right border-radius-smooth-bottom-right">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
    <script src="~/js/highlightCurrentAdminMenu.js"></script>
}
