@model AdminCarBindingModel
@{
    ViewData["Title"] = "Add New Car";
}

<h5>@ViewData["Title"]</h5>

<div class="container-item-white border-radius-smooth border-grey">
    <form class="form-group" method="post" enctype="multipart/form-data">
        @Html.EditorForModel()

        <partial name="_FormButtonsPartial" />
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/pictureInput.js"></script>
    <script src="~/js/returnBack.js"></script>
    <script>
        $(function () {
            addEventForAddingPictures('[picturesAddBtn]', '[picturesInput]', '[displayInput]');
        })
    </script>
}