@model AdminOptionCreateBindingModel
@{
    ViewData["Title"] = "Add New Car Option";
}

<h5>@ViewData["Title"]</h5>

<div class="container-item-white border-radius-smooth border-grey">
    <form class="form-group" method="post">
        <div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />

        <div>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <label asp-for="Price"></label>
        <input class="form-control" asp-for="Price" />

        <div class="input-group">
            <div class="col-10 no-padding">
                <div>
                    <span asp-validation-for="OptionTypes" class="text-danger"></span>
                </div>
                <label asp-for="OptionTypes"></label>
                <select class="form-control" asp-items="Model.OptionTypes" asp-for="OptionTypeId">
                    <option disabled selected>Select option</option>
                </select>
            </div>

            <div class="ml-auto mt-auto">
                <a class="btn border-green background-green-hover" 
                   asp-area="Admin" 
                   asp-controller="OptionType" 
                   asp-action="AddNew">
                    Add new
                    <i class="fas fa-plus" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        
        <partial name="_FormButtonsPartial" />
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/returnBack.js"></script>
}