@if (Model.CarsCount == 0)
{
    <button data-delete-btn="@Model.Id" class="btn btn-wide border-light-red background-light-red-hover">
        Delete
    </button>
}
else
{
    <button disabled class="btn btn-wide border-light-red background-light-red-hover">
        Delete
    </button>
}