@model AdminSeriesCreateBindingModel
@{
    ViewData["Title"] = "Add New Series";
}

<h5>@ViewData["Title"]</h5>

<div class="container-item border-radius-smooth border-grey">
    <form class="form-group" method="post">
        <div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />

        <partial name="_FormEndButtonsPartial" model="@(new string[] { "Engine","AddNew" })" />
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}