@model FuelTypeBindingModel
@{
    ViewData["Title"] = "Edit";
}

<h5>@ViewData["Title"]</h5>

<div class="container-item-white border-radius-smooth border-grey">
    <form class="form-group" method="post">
        @Html.EditorForModel()

        <partial name="_FormButtonsPartial" />
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/returnBack.js"></script>
}