.background-light-blue {
    background-color: #e4f1f9;
}

.background-green-hover {
}
.background-green-hover:hover {
    background-color: #B4CC14;
}

.background-light-blue-hover {
}
.background-light-blue-hover:hover {
    background-color: #e4f1f9;
}

.background-light-red-hover {
    
}
.background-light-red-hover:hover {
    background-color: #FF8484;
}

.border-blue {
    border-color: #45ADDE;
    box-shadow: 0 0 5px 1px #45ADDE;
}
.border-blue:active {
    border-color: #45ADDE;
    box-shadow: 0 0 5px 1px #45ADDE;
}

.border-blue-hover {
    
}
.border-blue-hover:hover, .border-blue-hover:focus {
    box-shadow: 0 0 5px 1px #45ADDE;
    border-color: #45ADDE;
}

.border-green {
    box-shadow: 0 0 5px 1px #B4CC14;
    border-color: #B4CC14;
}
.border-green:focus {
    box-shadow: 0 0 5px 1px #B4CC14;
    border-color: #B4CC14;
}

.border-green-hover {

}
.border-green-hover:hover {
    box-shadow: 0 0 5px 1px #B4CC14;
    border-color: #B4CC14;
}

.border-grey {
    border: 1px solid #ced4da;
}

.border-light-blue {
    border-color: #e4f1f9;
    box-shadow: 0 0 5px 1px #e4f1f9;
}
.border-light-blue:focus {
    border-color: #e4f1f9;
    box-shadow: 0 0 5px 1px #e4f1f9;
}

.border-no-radius {
    border-radius: 0px;
}

.border-radius-smooth {
    border-radius: 10px;
}

.border-radius-smooth-top-right {
    border-top-right-radius: 10px;
}

.border-radius-smooth-bottom-right {
    border-bottom-right-radius: 10px;
}

.border-light-red {
    box-shadow: 0 0 3px 2px #FF8484;
}
.border-light-red:focus {
    box-shadow: 0 0 3px 2px #FF8484;
}

.btn-wide {
    padding: 1px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top:5px;
    margin-bottom: 5px;
}

.light-blue-container {
    background-color: #e4f1f9;
    padding: 15px;
}

.list-group-item:first-child {
    border-top-left-radius: 10px;
}
.list-group-item:first-child > a {
    border-top-left-radius: 10px;
}

.container-item {
    background-color: white;
    margin: 10px;
    margin-left: 20px;
    padding: 20px;
}

.color-blue {
    color: #45ADDE;
}

.color-blue-hover {

}
.color-blue-hover:hover {
    color: #45ADDE;
}

.main-container {
    
}

.navbar-brand {
    max-width: 300px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-brand-image {
    max-width: 60px;
    height: auto;
}

.nav-item {
    margin-right: 20px;
}

.nav-link-item {
    white-space: nowrap;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.8;
}

.nav-link-item:active, .nav-link-item:hover {
    opacity: 1;
    text-decoration: none;
}

.no-border {
    border: none;
}

.no-outline {
}

.no-outline:focus, .no-outline:active {
    outline: none !important;
    box-shadow: none;
}

.no-padding {
    padding: 0px;
}

.searchbar-container {
    background-color: #ffffff;
}

.text-shadow-blue-hover {
}
.text-shadow-blue-hover:hover {
    text-shadow: 0px 0px 5px #45ADDE;
}