.navbar-brand {
    max-width: 300px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.image-small {
    max-width: 60px;
    height: auto;
}

.nav-item {
    margin-right: 20px;
}

.color-blue {
    color: #45ADDE;
}
.color-blue:hover, .color-blue:active {
    color: #45ADDE;
}

.text-shadow-blue-hover {
}
.text-shadow-blue-hover:hover {
    text-shadow: 0px 0px 5px #45ADDE;
}

.nav-link-item {
    font-size: 25px;
    font-weight: 400;
    opacity: 0.8;
}
.nav-link-item:active, .nav-link-item:hover {
    opacity: 1;
    text-decoration: none;
}

.btn-no-outline {
    
}
.btn-no-outline:focus {
    box-shadow: none !important;
}

.btn-blue-no-outline {
    color: #45ADDE;
}
.btn-blue-no-outline:focus {
    box-shadow: none !important;
}

.btn-no-padding {
    padding: 0px;
}