@model AdminModelTypeCreateBidningModel
@{
    ViewData["Title"] = "Add New Model Type";
}

<h5>@ViewData["Title"]</h5>

<div class="container-item border-radius-smooth border-grey">
    <form class="form-group" method="post">
        <div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />

        <form-buttons controller-name="Cars" action-name="AddNew"></form-buttons>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}