@model EngineBindingModel
@{
    ViewData["Title"] = "Edit";
}

<h5>Edit</h5>

<div class="container-item-white border-radius-smooth border-grey">
    <form method="post">
        @Html.EditorForModel()

        <partial name="_FormButtonsPartial" />
    </form>
</div>

@section Scripts {
    <script src="~/js/returnBack.js"></script>
}