@model IEnumerable<TestDriveViewModel>
@{
    ViewData["Title"] = "All Test Drives";
}

<h4>@ViewData["Title"]</h4>

<div class="container-light-blue border-radius-smooth border-grey">
    @foreach (var testDrive in Model)
    {
        <partial name="_UserTestDrivePartial" model="@testDrive" />
    }
</div>