@model CarsInventoryViewModel
@{
    ViewData["Title"] = "New BMW Inventory";
}

<partial name="_BMWStoreLogoPartial" />

<div class="mt-3">
    <h6>
        The majority of our new BMW inventory is kept with factory protective wrapping on the exterior of the vehicle
        to shield the elements until time of purchase.
    </h6>
</div>

<partial name="_InventoryNewCarsBodyPartial" />

<partial name="_PaginationPartial" />

@section Scripts {
    <script src="~/js/clickBtnOnBtnClick.js"></script>
    <script src="~/js/datetimePickerPick.js"></script>
    <script src="~/js/showModal.js"></script>
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(function () {
            clickBtnOnBtnClick('[data-click]', '#filterSubmit');
        })
    </script>
}