@model string[]

<div class="d-flex mt-4">
    <div class="mx-auto">
        <button class="btn border-green background-green-hover mr-3" type="submit">Submit</button>
        <a class="btn border-light-red background-light-red-hover" asp-controller="@Model[0]" asp-action="@Model[1]">
            Cancel
        </a>
    </div>
</div>