<form class="form-inline" action="/" method="get">
    <div class="background-white input-group border-radius-smooth">
        <div class="form-control no-border border-radius-smooth">
            <input class="no-border no-outline" type="search" placeholder="Search..." />
        </div>
        <div class="input-group-append no-border">
            <button class="btn no-border no-outline">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>