@model CarSearchViewModel
@{
    ViewData["Title"] = "Cars";
}

<div class="mt-4"></div>

<partial name="_InventoryBaseCarsSortPartial" />

<div class="container-light-blue border-grey border-radius-smooth mt-4">
    @if (Model.Cars.Count() == 0)
    {
        <div class="text-center">
            <h6 class="font-medium">
                No matches found for keywords: 
                <strong class="font-medium"><u>@string.Join(", ", Model.KeyWords)</u></strong>
            </h6>
        </div>
    }
    else
    {
        <partial name="_InventoryCarsPartial" model="Model.Cars" />

        <partial name="_PaginationPartial" />
    }
</div>

@section Scripts {
    <script>
        $(function () {
            const keyWords = '@string.Join(",", Model.KeyWords)'.toLowerCase().split(',');

            const carSearchElements = $('[car-search]');
            for (let i = 0; i < carSearchElements.length; i++) {
                const currentElement = $(carSearchElements[i]);

                const currentValue = currentElement.text().toLowerCase();

                for (let i = 0; i < keyWords.length; i++) {
                    const currentKeyWord = keyWords[i];
                    if (currentValue.includes(currentKeyWord)) {
                        currentElement.addClass('text-shadow-blue');
                    }
                }
            }
        })
    </script>
}