@model AdminCarCreateBindingModel
@{
    ViewData["Title"] = "Add New Car";
}

<h5>@ViewData["Title"]</h5>

<div class="container-item-white border-radius-smooth border-grey">
    <form class="form-group" method="post" enctype="multipart/form-data">
        <div class="input-group">
            <div class="col-6">
                <div>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <label asp-for="Name"></label>
                <input class="form-control" asp-for="Name" />
            </div>
            <div class="col-6">
                <div>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <label asp-for="Price"></label>
                <input class="form-control" asp-for="Price" />
            </div>
        </div>
        <div class="input-group">
            <div class="col-6">
                <div>
                    <span asp-validation-for="Acceleration_0_100Km" class="text-danger"></span>
                </div>
                <label asp-for="Acceleration_0_100Km"></label>
                <input class="form-control" asp-for="Acceleration_0_100Km" />
            </div>
            <div class="col-6">
                <div>
                    <span asp-validation-for="CO2Emissions" class="text-danger"></span>
                </div>
                <label asp-for="CO2Emissions"></label>
                <input class="form-control" asp-for="CO2Emissions" />
            </div>
        </div>
        <div class="input-group">
            <div class="col-6">
                <div>
                    <span asp-validation-for="Displacement" class="text-danger"></span>
                </div>
                <label asp-for="Displacement"></label>
                <input class="form-control" asp-for="Displacement" />
            </div>
            <div class="col-6">
                <div>
                    <span asp-validation-for="DoorsCount" class="text-danger"></span>
                </div>
                <label asp-for="DoorsCount"></label>
                <input class="form-control" asp-for="DoorsCount" />
            </div>
        </div>
        <div class="input-group">
            <div class="col-6">
                <div>
                    <span asp-validation-for="FuelConsumation_City_Litres_100Km" class="text-danger"></span>
                </div>
                <label asp-for="FuelConsumation_City_Litres_100Km"></label>
                <input class="form-control" asp-for="FuelConsumation_City_Litres_100Km" />
            </div>
            <div class="col-6">
                <div>
                    <span asp-validation-for="FuelConsumation_Highway_Litres_100Km" class="text-danger"></span>
                </div>
                <label asp-for="FuelConsumation_Highway_Litres_100Km"></label>
                <input class="form-control" asp-for="FuelConsumation_Highway_Litres_100Km" />
            </div>
        </div>
        <div class="input-group">
            <div class="col-6">
                <div>
                    <span asp-validation-for="HoursePower" class="text-danger"></span>
                </div>
                <label asp-for="HoursePower"></label>
                <input class="form-control" asp-for="HoursePower" />
            </div>
            <div class="col-6">
                <div>
                    <span asp-validation-for="Torque" class="text-danger"></span>
                </div>
                <label asp-for="Torque"></label>
                <input class="form-control" asp-for="Torque" />
            </div>
        </div>
        <div class="input-group">
            <div class="col-6">
                <div>
                    <span asp-validation-for="Vin" class="text-danger"></span>
                </div>
                <label asp-for="Vin"></label>
                <input class="form-control" asp-for="Vin" />
            </div>
            <div class="col-6">
                <div>
                    <span asp-validation-for="WarrantyMonthsLeft" class="text-danger"></span>
                </div>
                <label asp-for="WarrantyMonthsLeft"></label>
                <input class="form-control" asp-for="WarrantyMonthsLeft" />
            </div>
        </div>
        <div class="input-group">
            <div class="col-6">
                <div>
                    <span asp-validation-for="Weight_Kg" class="text-danger"></span>
                </div>
                <label asp-for="Weight_Kg"></label>
                <input class="form-control" asp-for="Weight_Kg" />
            </div>
            <div class="col-6">
                <div>
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <label asp-for="Year"></label>
                <input class="form-control" asp-for="Year" />
            </div>
        </div>
        <div class="input-group">
            <div class="col-6">
                <div>
                    <span asp-validation-for="ColorName" class="text-danger"></span>
                </div>
                <label asp-for="ColorName"></label>
                <input class="form-control" asp-for="ColorName" />
            </div>
            <div class="col-6">
                <div>
                    <span asp-validation-for="Mileage" class="text-danger"></span>
                </div>
                <label asp-for="Mileage"></label>
                <input class="form-control" asp-for="Mileage" />
            </div>
        </div>
        <div class="input-group">
            <div class="flex-column col-10">
                <label asp-for="Pictures"></label>
                <input picturesInput hidden type="file" asp-for="Pictures" multiple>
                <input displayInput class="form-control" value="Upload files" />
            </div>
            <div class="mt-auto">
                <button picturesAddBtn class="btn border-green background-green-hover" type="button">
                    Add
                    <i class="fas fa-plus" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="input-group">
            <div class="flex-column col-10">
                <div>
                    <span asp-validation-for="Engines" class="text-danger"></span>
                </div>
                <label asp-for="Engines"></label>
                <select class="form-control" asp-for="SelectedEngineId" asp-items="Model.Engines">
                    <option selected disabled>Select Engine</option>
                </select>
            </div>
            <div class="mt-auto">
                <a class="btn border-green background-green-hover"
                   asp-area="Admin"
                   asp-controller="Engines"
                   asp-action="AddNew">
                    Add
                    <i class="fas fa-plus" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="input-group">
            <div class="flex-column col-10">
                <div>
                    <span asp-validation-for="FuelTypes" class="text-danger"></span>
                </div>
                <label asp-for="FuelTypes"></label>
                <select class="form-control" asp-for="SelectedFuelTypeId" asp-items="Model.FuelTypes">
                    <option selected disabled>Select Fule Type</option>
                </select>
            </div>
            <div class="mt-auto">
                <a class="btn border-green background-green-hover"
                   asp-area="Admin"
                   asp-controller="FuelTypes"
                   asp-action="AddNew">
                    Add
                    <i class="fas fa-plus" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="input-group">
            <div class="flex-column col-10">
                <div>
                    <span asp-validation-for="ModelTypes" class="text-danger"></span>
                </div>
                <label asp-for="ModelTypes"></label>
                <select class="form-control" asp-for="SelectedModelTypeId" asp-items="Model.ModelTypes">
                    <option selected disabled>Select Model Type</option>
                </select>
            </div>
            <div class="mt-auto">
                <a class="btn border-green background-green-hover"
                   asp-area="Admin"
                   asp-controller="ModelType"
                   asp-action="AddNew">
                    Add
                    <i class="fas fa-plus" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="input-group">
            <div class="flex-column col-10">
                <div>
                    <span asp-validation-for="Series" class="text-danger"></span>
                </div>
                <label asp-for="Series"></label>
                <select class="form-control" asp-for="SelectedSeriesId" asp-items="Model.Series">
                    <option selected disabled>Select Series</option>
                </select>
            </div>
            <div class="mt-auto">
                <a class="btn border-green background-green-hover"
                   asp-area="Admin"
                   asp-controller="Series"
                   asp-action="AddNew">
                    Add
                    <i class="fas fa-plus" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="input-group">
            <div class="col-10">
                <div>
                    <label asp-for="CarOptions"></label>
                </div>
                <div class="form-control" style="height: auto">
                    <div asp-checklistbox="@Model.CarOptions" asp-modelname="CarOptions"></div>
                </div>
            </div>
            <div class="mt-auto">
                <a class="btn border-green background-green-hover"
                   asp-area="Admin"
                   asp-controller="CarOptions"
                   asp-action="AddNew">
                    Add
                    <i class="fas fa-plus" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <partial name="_FormButtonsPartial" />
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/pictureInput.js"></script>
    <script src="~/js/returnBack.js"></script>
    <script>
        $(function () {
            addEventForAddingPictures('[picturesAddBtn]', '[picturesInput]', '[displayInput]');
        })
    </script>
}