<div class="container-item-white border-radius-smooth border-grey d-flex">
    <div class="mx-auto">
        <a class="btn border-blue-hover"
           asp-action="AddNew">
            Add new
            <i class="fas fa-plus" aria-hidden="true"></i>
        </a>
    </div>
</div>