<div class="d-flex mt-4">
    <div class="mx-auto">
        <button class="btn border-green background-green-hover mr-3" type="submit">
            Submit
        </button>
        <a cancelBtn class="btn border-light-red background-light-red-hover" href="#">
            Cancel
        </a>
    </div>
</div>