@model CarsInventoryViewModel
<div class="row">
    <div class="col-2 mt-4 mr-3 no-padding">
        @Html.DisplayFor(m => m.FilterModel)
    </div>
    <div class="mt-4 col no-padding">
        <div>
            <h5>@Model.TotalCarsCount Vehicles matching</h5>
        </div>
        <partial name="_InventoryUsedCarsSortPartial" />

        <div class="container-light-blue border-grey border-radius-smooth mt-4">
            <partial name="_InventoryCarsPartial" model="Model.Cars" />
        </div>
    </div>
</div>