@model IEnumerable<CarInventoryConciseViewModel>
@inject Microsoft.AspNetCore.Identity.SignInManager<User> signInManager
@foreach (var car in Model)
{
    <div data-carId="@car.Id" class="container-item-white border-radius-smooth border-grey">
        <a class="no-text-decorator color-black"
           asp-controller="Car"
           asp-action="Index"
           asp-route-carId="@car.Id">

            <partial name="_CarConcisePartial" model="@car" />
        </a>
        @if (car.IsTestDriveScheduled)
        {
            <div class="row d-flex">
                <div class="mx-auto">
                    <a class="btn btn-lg btn-wide border-blue background-blue-hover ml-2"
                       asp-controller="TestDrives"
                       asp-action="Drive"
                       asp-route-testDriveId="@car.TestDriveId">
                        Scheduled
                        <i class="far fa-calendar-check"></i>
                    </a>
                </div>
            </div>
        }
        else
        {
            <div class="row d-flex">
                <div class="mx-auto">
                    @if (signInManager.IsSignedIn(User))
                    {
                        @await Component.InvokeAsync("ScheduleTestDriveBtn", new
                        {
                            CarId = car.Id
                        })
                    }
                    else
                    {
                        <a class="btn btn-lg btn-wide border-blue background-blue-hover ml-2"
                                asp-area="Identity"
                                asp-page="/Account/Login">
                            Schedule A Test Drive
                        </a>
                    }
                </div>
            </div>
        }
    </div>
}