@{ 
	var minLength = EntitiesConstants.SearchKeyWordsMinLength;
    var maxLength = EntitiesConstants.SearchKeyWordsMaxLength;
}

<form class="form-inline" method="post" asp-controller="Search" asp-action="Index">
    <div class="background-white input-group border-radius-smooth">
        <div class="form-control no-border border-radius-smooth">
            <input required name="keyWords" class="no-border no-outline" type="search" placeholder="Search..." 
                   minLength="@minLength" maxlength="@maxLength" />
        </div>
        <div class="input-group-append no-border">
            <button class="btn no-border no-outline">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>