@model CarsInvertoryViewModel
@{
    ViewData["Title"] = "New BMW Invertory";
}

<partial name="_InvertoryHeaderPartial" />

<div class="mt-3">
    <h6>
        The majority of our new BMW inventory is kept with factory protective wrapping on the exterior of the vehicle
        to shield the elements until time of purchase.
    </h6>
</div>

<partial name="_InvertoryBodyPartial" />

@section Scripts {
    <script>
        function clickBtn() {
            const submitBtn = $('#filterSubmit');
            submitBtn.click();
        }
    </script>
    <script src="~/js/datetimePickerPick.js"></script>
    <partial name="_ValidationScriptsPartial" />
}