@model SortTypeViewModel

<div>
    Order by
    <button class="btn btn-wide border-blue-hover" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @Html.Raw(IconLinks.SortTypeIconLink[Model.SelectedSortName])
        @Model.SelectedSortName
    </button>
    <div class="dropdown-menu border-blue" aria-labelledby="dropdownMenuButton">
        @foreach (var strategyTypeName in Model.SortNames)
        {
            if (strategyTypeName != Model.SelectedSortName)
            {
                <form method="post"
                        asp-controller="Users"
                        asp-action="ChangeSortType"
                        asp-route-sortStrategyType="@strategyTypeName">
                    <button type="submit" class="dropdown-item">
                        @Html.Raw(IconLinks.SortTypeIconLink[strategyTypeName])
                        @strategyTypeName
                    </button>
                </form>
            }
        }
    </div>
</div>