@model TestDriveViewModel
@{
    ViewData["Title"] = "Test Drive";
}

<h4>@ViewData["Title"]</h4>
<div class="container-light-blue border-radius-smooth border-grey">
    <partial name="_UserTestDrivePartial" />
</div>
